<div class="product-filters">
  <div class="filter-head">Search Filters</div>
  <div class="filter-wrap">
    <h3>Product Category</h3>
    <form class="filter-form">
      <h5>Men</h5>
      <ul class="category-filter">
        <li><label><input type="radio" value="men-jeans_pants" name="category-filter" checked /> Jeans Pants</label></li>
        <li><label><input type="radio" value="men-jeans_jackets" name="category-filter" /> Jeans Jackets</label></li>
        <li><label><input type="radio" value="men-jeans_shorts" name="category-filter" /> Jeans Shorts</label></li>
        <li><label><input type="radio" value="men-jeans_shirts" name="category-filter" /> Jeans Shirts</label></li>
      </ul>
      <h5>Women</h5>
      <ul class="category-filter">
        <li><label><input type="radio" value="women-jeans_pants" name="category-filter" /> Jeans Pants</label></li>
        <li><label><input type="radio" value="women-jeans_jackets" name="category-filter" /> Jeans Jackets</label></li>
        <li><label><input type="radio" value="women-jeans_shorts" name="category-filter" /> Jeans Shorts</label></li>
        <li><label><input type="radio" value="women-jeans_shirts" name="category-filter" /> Jeans Shirts</label></li>
      </ul>
      <div class="filter-wrap">
        <h3>Colors</h3>
        <ul class="color-filter">
          <li><label><input type="checkbox" value="all" name="color-filter" checked /> All</label></li>
          <li><label><input type="checkbox" value="black" name="color-filter" /> Black</label></li>
          <li><label><input type="checkbox" value="red" name="color-filter" /> Red</label></li>
          <li><label><input type="checkbox" value="blue" name="color-filter" /> Blue</label></li>
          <li><label><input type="checkbox" value="navy" name="color-filter" /> Navy</label></li>
        </ul>
      </div>
      <div class="filter-wrap">
        <h3>Sizes</h3>
        <ul class="size-filter">
          <li><label><input type="checkbox" value="all" name="size-w-filter" checked /> All</label></li>
          <li><label><input type="checkbox" value="w-28" name="size-w-filter" /> W 28</label></li>
          <li><label><input type="checkbox" value="w-30" name="size-w-filter" /> W 30</label></li>
          <li><label><input type="checkbox" value="w-32" name="size-w-filter" /> W 32</label></li>
          <li><label><input type="checkbox" value="w-34" name="size-w-filter" /> W 34</label></li>
          <li><label><input type="checkbox" value="w-36" name="size-w-filter" /> W 36</label></li>
          <li><label><input type="checkbox" value="w-38" name="size-w-filter" /> W 38</label></li>
        </ul>
      </div>
      <div class="filter-wrap">
        <h3>Sizes</h3>
        <ul class="size-filter">
          <li><label><input type="checkbox" value="all" name="size-filter" checked /> All</label></li>
          <li><label><input type="checkbox" value="small" name="size-filter" /> Small</label></li>
          <li><label><input type="checkbox" value="medium" name="size-filter" /> Medium</label></li>
          <li><label><input type="checkbox" value="large" name="size-filter" /> Large</label></li>
          <li><label><input type="checkbox" value="x-large" name="size-filter" /> XL Large</label></li>
          <li><label><input type="checkbox" value="xx-large" name="size-filter" /> XXL Large</label></li>
        </ul>
      </div>
    </form>
  </div>
</div>
