<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-7"></div>
    <div class="col-lg-5 mt-5 mb-5">
      <h2>Join PK Apparel Now!</h2>
      <span class="show-msg"></span>
      <form [formGroup]="signUpForm" (ngSubmit)="userSignup()">
        <div class="mb-3">
          <label for="user-name">Full Name*</label>
          <input type="text" id="user-name" formControlName="fullName" class="user-name">
          <span class="error-alert"></span>
        </div>
        <div class="mb-3">
          <label for="business-name">Business Name*</label>
          <input type="text" id="business-name" formControlName="businessName" class="business-name">
          <span class="error-alert"></span>
        </div>
        <div class="mb-3">
          <label for="user-email">Email*</label>
          <input type="text" id="user-email" formControlName="userEmail" class="user-email">
          <span class="error-alert"></span>
        </div>
        <div class="mb-3">
          <label for="user-password">Password*</label>
          <input type="password" id="user-password" formControlName="userPassword" class="user-password">
          <span class="error-alert"></span>
        </div>
        <div class="mb-5">
          <input type="submit" value="Join" class="btn-submit" id="user-join" name="user_join">
        </div>
      </form>
      <div class="mb-3">
        <p class="link-signup">Already have an account? <a routerLink="/login">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
