<swiper [slidesPerView]="3" [spaceBetween]="50" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
  <ng-template swiperSlide><img src="/assets/images/gallery/jeans-manufacturers.jpg" alt="banner image"></ng-template>
  <ng-template swiperSlide><img src="/assets/images/gallery/jeans-wholesalers.jpg" alt="banner image"></ng-template>
  <ng-template swiperSlide><img src="/assets/images/gallery/jeans-manufacturers.jpg" alt="banner image"></ng-template>
  <ng-template swiperSlide><img src="/assets/images/gallery/jeans-wholesalers.jpg" alt="banner image"></ng-template>
</swiper>
