<app-header></app-header>
<div class="container">
  <div class="row">
    <h1>Create New Order</h1>
    <div class="step-login">
      <form [formGroup="loginForm">
        <div class="mb-3">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="text" id="password" class="form-control" formControlName="password">
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
